@import url(https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

body {
    color: #000b29;
    background-color: #f4f5f9;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: hidden;
    background-attachment: fixed;
}



.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    margin-bottom: 20px;
    border-radius: 50%;
    width: 100px;
    margin-top: 30px;
}

.menu-master {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0
}

.menu-master i {
    margin-right: 425px;
}

.menu-master li {
    line-height: 2.5;
    overflow: hidden;
    margin-bottom: 16px;
    background-color: #fff;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 0 1px rgb(25 27 35 / 16%), 0 1px 2px rgb(25 27 35 / 12%);
    text-align: center;
}

.menu-master li a {
    margin-left: 0;
    padding: 0;
    display: block;
    padding: 15px 180px;
    color: black;
    font-size: 15px;
    outline: 0;
}

.menu-master li a:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1px rgba(6, 31, 134, 0.16), 0 1px 2px rgb(25 27 35 / 12%);
    text-decoration: none;
}

.site-title {
    margin-bottom: 20px;
}
