@import url(https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

body {
    background-image: url(/images/bguns.jpg);
    /* background-color: #f4f5f9; */
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: black;
}

h4{
    color: #000;
    font-size: 18px;
    padding-right: 45px;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    text-decoration: none;
}

.link-box {
    padding: 18px 0;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 13%) 0px 2px 8px;
}

.list-inline-item:not(:last-child) {
    margin-right: 2.5rem;
}

ul {
    padding: 0;
    color: #000;
    font-size: 2em;
}

ul a {
    color: #00244a;
}

li {
    display: inline-block;
    width: 1em;
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.5);
}